img.tubafranz {
display: block;
margin-left: auto;
margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    font-family:  monospace;
}
